#mainCanvas{
    width: 400px;
    height: 400px;
    border: solid 1px black;
}

*{
    box-sizing: border-box;
}

html{
    text-align: center;
    vertical-align: middle;
    background-image:url('../images/f_4141840_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    background-color: rgba(255, 255, 255, 0.6);
}

#container{
    background: white;
}

#greeting{
    font-size: 3em;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,"Microsoft Yahei",sans-serif;
    font-weight: 900;
    word-spacing: 15px;
    color: rgba(19, 13, 14, 0.7);
    border: width 1em black;
    

}

li{
    font-size: 2.5em;
    font-family: sans-serif;
}

#whoami{
    font-family: serif;
}

h1,h2,h3{
    font-family: serif;
    font-size: 2em;
    font-weight: 800;
    word-spacing: 15px;
    color: rgba(50,6,1,0.9);
}

a,p{
    font-size: 1.5em;
    font-family: sans-serif;
}